jupyterlab
nodejs
notebook
nbconvert
ipykernel
ipywidgets
widgetsnbextension
altair
bqplot
dask
matplotlib
pandas
scikit-image
scikit-learn
seaborn
tensorflow
sympy
pyyaml
traittypes
invoke
jupyterlab_launcher
